body {
    background-color: red;
    font-family: 'oswald', "sans-serif";
}

#container {
    background-image: url(img/merrychristmas.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 7px solid lightgreen;
    height: 610px auto;
    width: 750px auto;
    margin: 10px auto;
    text-align: center;
}

#btn {
    margin: 30px 5px 0px 5px;
    height: 35px;
    width: 250px;
    font-size: 22px;
    background-color: darkolivegreen;
}

#output {
margin: 20px auto;
font-size: 26px;
height: 480px;
}

img {
    max-width: 100%;
}
